.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #f8f8f8;
  background: url(../img/background.png) no-repeat center center;
  background-size: cover;
  text-align: center;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}