<div class="form-group row" id="project-list">

    <label for="projectselect">Projekt:</label>
    <select class="form-control"
            id="projectselect"
            [(ngModel)]="selectedProject"
            (ngModelChange)="selectProject($event)">

        <option *ngFor="let project of projects"
                [ngValue]="project.value">
            {{project.display}}
        </option>
    </select>

</div>

<search-bar [showFiltersMenu]="true"
            [defaultFilterSet]="defaultTypes"
            (onQueryChanged)="queryChanged($event)">
</search-bar>

<a *ngFor="let document of documents" class="list-group-item list-group-item-action"
   [routerLink]="['/resources/show/'+document.resource.type+'/'+document.resource.id]">
    {{document.dataset}} -- {{document.resource.type}} - {{document.resource.identifier}} -
    {{document.resource.shortDescription}}
</a>

<router-outlet></router-outlet>