<div class="form-group row" id="objectOverview">

    <aside>
        <header>
            <h1>
                <span class="mdi mdi-view-list"></span>
                Ressourcen
            </h1>
        </header>

        <main>

            <div class="row" id="project-switch">
                <div class="col-md-3">
                    <label for="projectselect" id="project-label">Projekt:</label>
                </div>
                <div class="col-md-9">
                    <select class="form-control"
                            id="projectselect"
                            [(ngModel)]="selectedProject"
                            (ngModelChange)="selectProject($event)">

                        <option *ngFor="let project of projects"
                                [ngValue]="project.value">
                            {{project.display}}
                        </option>
                    </select>
                </div>
            </div>

            <search-bar [showFiltersMenu]="true"
                        (onQueryChanged)="queryChanged($event)">
            </search-bar>

            <ul class="list-group object-list" id="objectList" style="overflow: scroll;">
                <li *ngFor="let document of documents; let index=index"
                    class="list-group-item">

                    <a [routerLink]="['/resources/show/'+document.resource.type+'/'+document.resource.id]">
                        {{document.dataset}} -- {{document.resource.type}} - {{document.resource.identifier}} -
                        {{document.resource.shortDescription}}
                    </a>

                </li>
            </ul>

        </main>
    </aside>

</div>

<router-outlet></router-outlet>